.super-container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10px;
    padding: 0px 5% 0px 7%; ;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-left, .main-right {
    padding: 30px;
}
.main-left div {
    display: flex;
}
.tour-image {
    display: block;
    width: 80%;
}
.main-left .audio-controls {
    margin-left: auto;
    margin-right: 20%;
    font-size: larger;
}
.fa-star.gold {
    color: gold;
}
.comments-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.comment, .comment-input {
    padding: 20px;
    max-width: 100%;
    border: 2px solid black;
}
.comment { 
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.comment img {
    width: 20%;
}
.top-row {
    display: flex;
}
.top-row p {
    justify-self: right;
    margin-left: auto;
}
.bottom-row img {
    display: block;
    float: left;
}
.bottom-row p {
    float: left;
    margin-left: 20px;
}


.perfil-container {
    display: flex;
    flex-direction: column; /* elementos uno debajo del otro */
    align-items: center;
    gap: 10px; 
}
.perfil-img {
    width: 150px;          /* tamaño de la foto */
    height: 150px;
    border-radius: 50%;   
    border: 2px solid #ccc; 
}

.perfil-links {
    display: flex;
    gap: 20px;
    font-family: "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
}

.perfil-link {
    text-decoration: none;
    color: #3d00a0;
    font-size: 1.2rem;
}

.perfil-link:hover {
    text-decoration: underline;
}