.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-left, .main-right {
    padding: 30px;
}
.main-left div {
    display: flex;
}
.tour-image {
    display: block;
    width: 80%;
}
.main-left .audio-controls {
    margin-left: auto;
    margin-right: 20%;
    font-size: larger;
}
.fa-star.gold {
    color: gold;
}
.comments-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.comment, .comment-input {
    padding: 20px;
    max-width: 100%;
    border: 2px solid black;
}
.comment { 
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.comment img {
    width: 20%;
}
.top-row {
    display: flex;
}
.top-row p {
    justify-self: right;
    margin-left: auto;
}
.bottom-row img {
    display: block;
    float: left;
}
.bottom-row p {
    float: left;
    margin-left: 20px;
}