.logo {    
    display: block;
    margin: 20px auto;    
    width: 350px; 
    border: 3px solid #2d4232;

}

.menu_and_extras {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; /* centra el menú */
    margin-bottom: 30px;
    gap:10px;            
}

.menu {
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 40px;                    
    background-color: #f8f4e8;    
    padding: 20px 20px;              
    width: 70%;                   /* ancho del rectángulo */
    border-radius: 10px;          
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Estilo de los enlaces */
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.iconos {
    display: flex;
    gap: 30px;      /* espacio entre imágenes */
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center; /* nombre debajo de la imagen */
}

.icono img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.icono p {
    margin-top: 5px;
    font-size: 0.9rem;
}
