.left-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.left-container h2 {
    font-family:  "system-ui", "Segoe UI", "Arial", "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;

}
.left-container p {
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1.5rem;
}

.destinos-destacados {
    display: flex;
    flex-direction: column;
    background-image: url('../images/descubre_destinos.jpg');
    background-size: cover;
    background-position: center;
    color: white;               
    padding: 30px;
    justify-content: center;
    border-radius: 5px;
}

.Elementos{
    background: rgba(0,0,0,0.5); /* fondo semitransparente */
    display: flex;             
    flex-direction: column;
    border-radius: 8px; 
    padding: 20px 20px;
    align-items: center;
    text-align: center;
}

.Elementos p{
    display: flex;             
    align-items: center;
}

.Títulos {
    font-size: 1.6rem;
    padding: 5px;
}
.Botón-Búsqueda {
    display: inline-block;  /* Se ajusta al contenido */
    align-self: center; /* Evita que flex lo estire al ancho completo */
    padding: 20px 20px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Trip Sans VF", "Trip Sans", "Arial";
}

.bottom-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.Tours{
    display: flex;
    flex-direction: column;
    background-image: url('../images/Tours.JPG');
    background-size: cover;
    background-position: center;
    color: white;               
    padding: 30px;
    align-items: center;
    border-radius: 8px;
}

.Descubre-por-tu-Cuenta{
    display: flex;
    flex-direction: column;
    background-image: url('../images/desc.jpg');
    background-size: cover;
    background-position: center;
    color: white;               
    padding: 30px;
    align-items: center;
    border-radius: 8px;
}

.Itinerarios{
    display: flex;      
    justify-content: center;      
    padding: 15px 20px;
    font-size: 2rem;
    gap: 150px;
    text-align: center;
}


