.grid-divisora {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
    font-family: "Trip Sans VF","Trip Sans", "Arial", "sans-serif"
}

.grid-divisora h2 {
    font-size: 2rem;
}


.grid-divisora h3 {
    font-size: 1.8rem;
}

.grid-divisora h4 {
    font-size: 1.6rem;
}


.labels{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.labels h2{
    justify-self: center;
}

.Dia-Actividad {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 50px;
    padding: 10px
}

.Dia-Actividad h3{
    display: flex;
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1.6rem;
    align-items: center;
    justify-self: center;
}

.Actividad {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    border: 1px solid #2d4232;
    border-radius: 8px;
    padding:15px;
    gap: 20px;
    align-items: center;

}

.Actividad img{
    width: 150px;
    height: 150px;
    border-radius: 8px 8px;
}

.Actividad-Detalles {
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1rem;
}


.Actividad-Detalles h4{
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1.5rem;
    font-weight: bold;
}


.Actividad-Detalles h5{
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1rem;
    font-weight: bold;
}

.expand-button {
    margin-top: auto;     
    background-color: #2d4232;
    color: white;
    border-radius: 10px;
    font-size: 0.9rem;    
    border:none; 
    padding:8px;
}

.expand-button:hover {
    background-color: #00796b;
}


.comentarios {
    border: 2px solid #2d4232;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;    /* muestra scroll solo en Y */
    max-height: 800px
}

.comment { 
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #2d4232;
    padding:20px;
    border-radius: 10px;
}

.comment img {
    width: 40%;
}
.top-row {
    display: flex;
}
.top-row p {
    justify-self: right;
    margin-left: auto;
}
.bottom-row img {
    display: block;
    float: left;
}
.bottom-row p {
    float: left;
    margin-left: 20px;
}