
.signup h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family:  "system-ui", "Segoe UI", "Arial", "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol"
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid #000000;
    padding:20px;
    border-radius: 8px;
    background-color: #f8f4e8;
    width: 80%;
    position: relative;
    margin: 20px auto; /* lo centra horizontalmente */
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
    font-size: 1.1rem;
}

.register-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 1.rem;
}

.register-container .login-box {
    box-shadow: none; /* override para que no aparezca */
}

.properties {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family:  "Trip Sans VF","Trip Sans", "Arial", "sans-serif";
}

.login-box .mensaje {
    display:none;
    position: fixed;
    right:10%;
    padding: 12px 10px; 
    background: rgba(175, 173, 173, 0.6);
    transition: opacity 0.3s ease;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid #000000

}

.btnSubmit {
    background-color: #2d4232;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;;
}

.btnSubmit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btnSubmit:hover:not(:disabled) {
    background-color: #00796b;
}

.login-link{
    display: inline-block;  /* Se ajusta al contenido */
    align-self: flex-start; /* Evita que flex lo estire al ancho completo */
    padding: 10px 15px;
    background-color: #2d4232;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Trip Sans VF", "Trip Sans", "Arial";
}

.login-link:hover:not(:disabled) {
    background-color: #00796b;
}